/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
@import "normalise";
@import "grid";
//@import "fonts";

$font: "Helvetica Neue", Arial, Sans-Serif;

body {
  margin: 0;
  font: {
    family: $font;
  }
  & > * {
    max-width: 1140px;
    margin: 0px auto;
  }
}
#pageheader {
  border-bottom: 2px black solid;
  height: 60px;
  h1 {
    margin: 0;
    display: inline-block;
    color: black;
    font: 50px/60px $font {
      weight: bold;
    }
    background: {
      position: 150px 17px;
      repeat: no-repeat;
      size: 91px 35px;
    }
    .svg & {
      background-image: url(../img/pan.svg);
    }
    .no-svg & {
      background-image: url(../img/pan.png);
    }
  }
  h2 {
    margin: 0;
    display: inline;
    font-weight: normal;
  }

}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@import "helpers";
@import "print";